.body {
  min-width: 60rem;
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
}

.pencils {
  position: relative;
  top: -10rem;
  width: 30em;
  z-index: 0;
  transform: rotate(25deg);
  &:hover {
    transform: rotate(10deg);
    cursor: pointer;
  }
}

.paint {
  width: 29em;
  position: relative;
  top: -9rem;
  z-index: 0;
  transform: rotate(81deg);
  &:hover {
    transform: rotate(70deg);
    cursor: pointer;
  }
}

.yarn {
  position: relative;
  width: 25rem;
  top: -20rem;
  margin-right: 2rem;
  z-index: 0;
  &:hover {
    transform: rotate(12deg);
    cursor: pointer;
  }
}

.sew {
  position: relative;
  width: 30rem;
  top: -7rem;
  z-index: 0;
  transform: rotate(-2deg);
  &:hover {
    transform: rotate(10deg);
    cursor: pointer;
  }
}
