@import "../colors";
@import "../vars";

body {
    background: url(../../images/paper.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
