$black: #202024;
$darkGreen: #486e42;
$green: #3eb32d;
$purple: #877dff;
$peach: #ffbe96;
$white: #fff;

$text: 'Lato', sans-serif;
$titleA: 'Shadows Into Light', cursive;
$titleB: 'Reenie Beanie', cursive;
