.pencils {
    top: 0;
    width: 40em;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 30em;
}

.paint {
    width: 29em;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.yarn {
    position: absolute;
    width: 25em;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sew {
    position: absolute;
    right: -116px;
    width: 30em;
    top: 0;
    z-index: -1;
}
