@import "../colors";
@import "../vars";

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/images/paper.png");
    background-size: cover;
    background-repeat: no-repeat;
}
