@import '../../styles/variables';

.container {
  display: flex;
  flex: 2 2 auto;
  overflow: hidden;
  li {
    margin: 0 2rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $black;
    font-family: $text;
    font-size: 18px;
    font-weight: 800;
    margin: 0.2rem 0;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $purple;
      border-bottom: 2px solid $purple;
    }
  }
}

.active {
  color: $purple !important;
}
